body{
    font-family: Roboto, sans-serif;
    letter-spacing: 2px;
}

h2{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 0.5;
}

p{
    letter-spacing: 0.5px;
    font-size: 17px;
}

p1{
    letter-spacing: 0;
    font-size: 18px;
}

li{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 4vh;
    letter-spacing: 0vw;
}

